on:
  - push
  - pull_request

jobs:
  cache-and-install:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Enable Corepack
        run: corepack enable
      - name: Use Node.js 22.x
        uses: actions/setup-node@v4
        with:
          node-version: "22.x"
          cache: 'yarn'
      - name: Install dependencies
        run: yarn install --immutable
        working-directory: cm_web
      - name: Run build
        run: yarn build
        working-directory: cm_web
      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v5.0.0
        with:
          name: dist
          path: cm_web/dist
