on:
  - push
  - pull_request

jobs:
  cache-and-install:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          version: 10
          run_install: false

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Install dependencies
        run: pnpm install --dangerously-allow-all-builds
        working-directory: cm_web

      - name: Install dependencies
        run: pnpm build
        working-directory: cm_web

      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v5.0.0
        with:
          name: dist
          path: cm_web/dist
